* {
    font-family: 'Poppins', sans-serif;
    /* margin: 0;
    padding: 0; */
}

header {
    top: 0;
    left: 0;
    background: white;
    padding: 15px 25px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dde1e6;

}

.logo {
    font: 500 24px/100% Poppins, sans-serif;
    color: #000;
    margin: auto 0;
    padding-top: 7px;
    align-self: stretch;
    white-space: nowrap;
    font-feature-settings: "clig" off, "liga" off;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto 0;
    align-self: stretch;
    font: 500 14px/24px Space Grotesk, sans-serif;
    color: #6c7275;
    white-space: nowrap;
  }
  
  .nav-link {
    color: #141718;
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    border: 0 solid #141718;
  }
  
  .social-icons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
  
  .social-icon {
    width: 24px;
    margin: auto 0;
    align-self: stretch;
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
  }
  
  .social-icon-large {
    width: 50px;
    align-self: stretch;
    object-fit: auto;
    object-position: center;
  }

.header-content {
    display: flex;
    width: 100%;
    max-width: 1408px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/* .Add-product-header {
    margin-inline: 550px;
    margin-bottom: 30px;
} */

.Add-product-header h1{
    text-align: center;

}

h4{
    margin-left: 40px;
}

.Add-product-container {
    display: flex;
    flex-direction: column;
    background-color: #eeeeeee3;
    width: 1000px;
    height: auto;
    border-radius: 15px;
    align-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

.Add-product-container fieldset {
    border: none;
    /* text-align: center; */
}


label,
.option,
.textArea {
    margin-left: 50px;
    font-size: medium;
    color: rgb(135, 135, 135);
    font-weight: bold;
    font-size: 15px;
}


label[for="txtProductname"] {
    margin-left: 250px; 
}

label[for="txtStatus"] {
    margin-left: 235px; 
}

#txtProductname {
    width: calc(50% - 180px); /* Subtract the total margin and padding from the container width */
}

textarea{
    margin-bottom: 20px;
}

input {
    margin-bottom: 20px;
    padding: 5px;
}

.option {
    margin-left: 74px;
    margin-bottom: 10px;
}

.option input {
    margin-right: 5px;
    margin-left: 10px
}



.textArea {
    margin-left: 75px;
    margin-bottom: 10px;
}

textarea {
    margin-left: 60px;
    padding-right: 700px;
    margin-top: 10px;
}

.textArea #description-text {
    margin-bottom: 20px;
}

.textArea #Additional-info-text {
    margin-bottom: 20px;
}

.botton-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.botton-container button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 15px;
    border-color: #eeeeeee3;
    ;
    /* border: 2px; */
}

.botton-container button[type=reset] {
    padding-right: 25px;
    padding-left: 25px;
    font-weight: bold;
    /* color: azure; */

}

.botton-container button[type=submit] {
    padding-right: 30px;
    padding-left: 30px;
    font-weight: bold;

}