* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
}

.allpage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    top: 0;
    left: 0;
    background: white;
    padding: 15px 25px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dde1e6;

}

.header-content {
    display: flex;
    width: 100%;
    max-width: 1408px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    font: 500 24px/100% Poppins, sans-serif;
    color: #000;
    margin: auto 0;
    padding-top: 7px;
    align-self: stretch;
    white-space: nowrap;
    font-feature-settings: "clig" off, "liga" off;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto 0;
    align-self: stretch;
    font: 500 14px/24px Space Grotesk, sans-serif;
    color: #6c7275;
    white-space: nowrap;
}

.nav-link {
    color: #141718;
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    border: 0 solid #141718;
}

.social-icons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.social-icon {
    width: 24px;
    margin: auto 0;
    align-self: stretch;
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
}

.social-icon-large {
    width: 50px;
    align-self: stretch;
    object-fit: auto;
    object-position: center;
}

.product-nav {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 50px;
    padding: 5px;
    /* text-decoration: none; */
}

.product-nav a {
    text-decoration: none;
    color: #000;
}

.product-nav a:hover {
    color: #d9d8d8;
}

.product-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    margin-top: 20px;
}

.image-part {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    width: 40%;
    height: 50%;
    /* border: 1px solid #141718; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
    /* margin: 20px; */
    padding: 20px;
}

.product-img {
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    /* border: 1px solid #141718; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
    margin: 7px;
}

.product-img img {
    width: 100%; 
    height: 100%; 
}

.detail-part {
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    padding: 20px;
    width: 40%;
    /* border: 1px solid #141718; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.product-name {
    width: 80%;
    margin: 10px;
}

.product-detail {
    width: 100%;
    margin: 10px;
    font-size: 15px;
    color: #6c7275;
    line-height: 1.5;
}

.translate {
    margin-top: 10px;
    text-decoration: underline;
    color: #000000;
    font-size: small;
    cursor: pointer;
}

.translate:hover {
    color: #d9d8d8;
}

.product-price {
    font-size: 25px;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a4a4a4;
}

.quantity-btn {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    height: 50px;
    width: 100px;
    border-radius: 12px;
    cursor: pointer;
}

.quantity-btn span {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

/* .quantity-btn span.num {
    pointer-events: none;
} */

.addtocart {
    background-color: #141718;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    min-width: 100px;
    cursor: pointer;
}

.addtocart:hover {
    background-color: #1f272b;
}

.product-info {
    margin: 10px;
    font-size: 13px;
}

.product-info td, tr {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.product-info td.title {
    color:#a4a4a4;
}

/* .additional-info {
    margin: 10px
} */

.add-title {
    color: #141718;
    font-size: 17px;
    display: flex;
    border-bottom: 1px solid #a4a4a4;
    margin-bottom: 10px;
    margin-left: 10px;
    justify-content: space-between;
}

#icon {
    cursor: pointer;
}

.up {
    transform: rotate(-180deg);
}

.additional-info {
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
    display: none; 
    line-height: 1.5;
}

.additional-info.show {
    display: block;
}

.additional-info{
    font-size: 15px;
    color: #a4a4a4;
}

/* .additional-info .description{
    font-size: 12px;
    margin-left: 30px;
} */

/* .add-detail .translate {
    font-size: 12px;
} */

.suggestion {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.suggestion .sug-title {
    font-size: 25px;
}

.suggestion .sug-product {
    display: flex;
    flex-direction: raw;
    flex-wrap:wrap;
    justify-content: center;
    /* width: 100%; */
}

.suggestion .sug-box {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 10px;
    width: 15%;
}

.suggestion .sug-box .sug-img {
    width: 100%;
}

.sug-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.sug-img img {
    width: 100%;
    justify-content: center;
}

#trans {
    border: none ;
    background-color: transparent;
    cursor: pointer;
}



